.alignRight
  text-align: right

div.line
  border-top: 1px solid #BFBFBF

#sidebar
  div.parent
    font-weight: bold
    padding: 5px 10px

  ul.sub.navigation
    margin-left: 15px

#header
  .logo
    float: left
    margin-top: 3px
  h1
    padding-bottom: 10px
    margin-left: 37px

// Resources
ul.resourceList li
  background-color: #EEEEEE
  border: 1px solid #BFBFBF
  float: left
  height: 100px
  line-height: 100px
  margin: 5px
  padding: 5px
  text-align: center
  width: 100px

  img
    vertical-align: middle

div.resource
  text-align: center

  .embedMedia
    margin: 0 auto

// Resources Search Box
form.formtastic.res_search
  fieldset
    &.inputs
      float: left
      margin-right: 5%
      width: 45%

    &.buttons
      padding-left: 0

    & > ol > li label
      width: 1.2em * 4.5

    legend
      display: none


// Games
ul.gameList > li
  height: 113px
  padding: 5px

  div.logo
    float: left
    margin-left: 5px

  div.desc
    margin-left: 160px

.gameInfo
  .logo
    float: right
    height: 113px
    margin: 5px
    width: 150px

// Admin panel
.adminPanel
  .sectionTitle
    display: block
    font:
      size: 1.2em
      weight: bold
    padding-bottom: 2px

  ul.section
    margin-left: 5px