#bodyContainer
  padding-top: 20px

.alignRight
  text-align: right

div.line
  border-top: 1px solid #BFBFBF

.block.noTitle .inner
  padding-top: 15px

#sidebar
  div.parent
    font-weight: bold
    padding: 5px 10px

  ul.sub.navigation
    margin-left: 15px

#header
  .logo
    float: left
    margin-top: 4px
  h1
    margin-left: 37px

.zoomButton
  background: #EEEEEE
  border: 1px solid #444444
  color: #444444
  font-weight: bold
  padding: 3px 8px

.hover
  position: relative
  .hoverText
    background-color: #EEEEFF
    border: 1px solid #DDDDFF
    bottom: 0
    display: none
    font:
      size: 0.8em
    padding: 8px
    position: absolute
    text-align: center
    width: 150px
