.alignRight {
  text-align: right; }

div.line {
  border-top: 1px solid #bfbfbf; }

#sidebar div.parent {
  font-weight: bold;
  padding: 5px 10px; }
#sidebar ul.sub.navigation {
  margin-left: 15px; }

#header .logo {
  float: left;
  margin-top: 3px; }
#header h1 {
  padding-bottom: 10px;
  margin-left: 37px; }

.zoomButton {
  background: #eeeeee;
  border: 1px solid #444444;
  color: #444444;
  font-weight: bold;
  padding: 3px 8px; }
