#bodyContainer {
  padding-top: 20px; }

.alignRight {
  text-align: right; }

div.line {
  border-top: 1px solid #bfbfbf; }

.block.noTitle .inner {
  padding-top: 15px; }

#sidebar div.parent {
  font-weight: bold;
  padding: 5px 10px; }
#sidebar ul.sub.navigation {
  margin-left: 15px; }

#header .logo {
  float: left;
  margin-top: 4px; }
#header h1 {
  margin-left: 37px; }

.zoomButton {
  background: #eeeeee;
  border: 1px solid #444444;
  color: #444444;
  font-weight: bold;
  padding: 3px 8px; }

.hover {
  position: relative; }
  .hover .hoverText {
    background-color: #eeeeff;
    border: 1px solid #ddddff;
    bottom: 0;
    display: none;
    font-size: 0.8em;
    padding: 8px;
    position: absolute;
    text-align: center;
    width: 150px; }
