= main_box(title) do
  - if !resources.empty?
    %ul.resourceList
      = render :partial => "shared/resources/res_list_item", :collection => resources
    .clear
    - if paginate
      = will_paginate resources
  - else
    %p No resources found.