= main_box("Admin Panel", "adminPanel") do
  .columns
    .column.left
      - if current_user.is_admin?
        .sectionTitle Users
        %ul.section
          %li= link_to("Users", admin_users_path)
    .column.right
      .sectionTitle Complete Resources
      %ul.section
        - if current_user.can_approve_resources?
          %li= link_to("Approve Resources", admin_resources_path)
        - if current_user.is_admin?
          %li= link_to("Categories", admin_categories_path)
  .clear