.block
    .content
        %h2.title= @resource.name
        .inner
            = image_tag(@resource.res.url, :class => :resource)
            %ul.list
                %li
                    .left.label Author
                    .item= @resource.user.name
                %li
                    .left.label Category
                    .item= @resource.category.name